<h2>Augments</h2>
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>UserCarId</th>
      <th>UserAugmentId</th>
      <th>Slot</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let augment of userAugments$ | async">
      <td class="col-sm-2">
        <img src="https://rrimages.azureedge.net/16/augments/{{augment.imageName}}.png" width="128" height="128">
      </td>
      <td class="col-sm-2">{{augment.displayName}}</td>
      <td class="col-sm-2">{{augment.userCarId}}</td>
      <td class="col-sm-2">{{augment.userAugmentId}}</td>
      <td class="col-sm-2">{{augment.slot}}</td>
      <td class="col-sm-2">
        <button id="unequipAugment" class="btn btn-warning" (click)="onUnequipAugment(augment)">Unequip</button>
        <button id="removeAugment" class="btn btn-danger" (click)="onRemoveAugment(augment)">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
