<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>User</h1>
    </div>
  </div>
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a href="#">Account Info</a></li>
    <li><a href="#">Error Logs</a></li>
    <li><a href="#">IAP Receipts</a></li>
    <li><a href="#">Offer Receipts</a></li>
    <li><a href="#">Social Details</a></li>
    <li><a href="#">Cars</a></li>
    <li><a href="#">Resources</a></li>
    <li><a href="#">Aguments</a></li>
    <li><a href="#">Fuel</a></li>
    <li><a href="#">Daily Gift</a></li>
    <li><a href="#">Ftue</a></li>
    <li><a href="#">Messages</a></li>
    <li><a href="#">Fusion Credits</a></li>
  </ul>

  <router-outlet></router-outlet>
</div>
