<h2>FTUE</h2>
<div>
<!--  TODO change the form handling-->
  <div class="col-md-8">
    <div *ngFor="let ftueStoryProgress of ftueProgress$ | async">
      <h2>
        '{{ftueStoryProgress.ftueStory}}' FTUE
      </h2>
      <form (ngSubmit)="onSubmitStarted(ftueStoryProgress.ftueStory)" #startedForm="ngForm">
        <div class="form-group row">

          <label class="col-sm-3 control-label" for="lastStepStarted">Last Step Started</label>
          <div class="col-sm-4">
            <select class="form-control btn btn-primary" id="lastStepStarted"
                    required
                    [(ngModel)]="ftueStoryProgress.lastStepStarted" name="lastStepStarted">
              <option *ngFor="let ftueStep of ftueStoryProgress.stepOptions" [ngValue]="ftueStep" [label]="ftueStep"></option>
            </select>
          </div>
          <div class="col-sm-2" id="setStartedButton">
            <button id="setStartedButton" type="submit" class="btn btn-success" [disabled]="startedForm.pristine">Set Last Step Started</button>
          </div>
        </div>
      </form>

      <form (ngSubmit)="onSubmitComplete(ftueStoryProgress.ftueStory)" #completeForm="ngForm">
        <div class="form-group row">
          <label class="col-sm-3 control-label" for="lastStepComplete">Last Step Complete</label>
          <div class="col-sm-4">
            <select class="form-control btn btn-primary" id="lastStepComplete"
                    required
                    [(ngModel)]="ftueStoryProgress.lastStepComplete" name="lastStepComplete">
              <option *ngFor="let ftueStep of ftueStoryProgress.stepOptions" [ngValue]="ftueStep" [label]="ftueStep"></option>
            </select>
          </div>
          <div class="col-sm-2" id="setCompleteButton">
            <button id="setCompleteButton" type="submit" class="btn btn-success" [disabled]="completeForm.pristine">Set Last Step Complete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
