<h2>Cars</h2>
<div>
  <form class="form-horizontal">
    <div class="col-sm-8">
      <div>
        <table>
          <tr>
            <th>Car Image</th>
            <th width="50%">Car Name/ID</th>
            <th width="20%">Star Rating</th>
            <th width="20%">Details</th>
            <th>Remove</th>
          </tr>
          <tr *ngFor="let car of cars$ | async ">
            <td><img src="https://rrimages.azureedge.net/16/cars/{{car.imageName}}_Thumb.png"></td>
            <td><h4>"{{car.modelName}}"</h4></td>
            <td allign="centre"><h4>"{{car.stars}}"</h4></td>
            <td><button id="selectCar" class="btn btn-success" (click)="onSelectCar(car)"><span class="fa fa-info-circle"></span>Details</button></td>
            <td><button id="removeCar" class="btn btn-danger" (click)="onRemoveCar(car)"><span class="fa fa-exclamation-circle"></span>Remove</button></td>
          </tr>
        </table>

      </div>
    </div>
  </form>
</div>
